<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <div class="content-container">
    <h1
      ><%= "about mel" %>&nbsp;&nbsp;&nbsp;&nbsp;<img
        src="/images/picture_idk.png"
        alt="if you're seeing this it didnt work &#x1F623;"
        width="55px"
        length="auto"
        class="pic" /> </h1
  ></div>
  <br />

  <div class="content-container">
    <p>Hello from Toronto!</p>
  </div>

  <div class="content-container">
    <p>
      I'm Melanie and I love computer science and all things software! While my
      initial journey into academia led me to psychology, I found myself
      yearning for the allure of subjects closer to my heart, such as math and
      biology.
    </p>
  </div>

  <div class="content-container">
    <p>
      Embarking on a quest to explore intriguing subspecialties during my
      subsequent degree, I pondered the limits of divergence from my original
      academic path. The revelation dawned on me — the possibilities were
      endless. Liberating myself from preconceived notions, I embraced my true
      passion: &#128151;&nbsp;computer&nbsp;science&nbsp;&#128151;.
    </p>
  </div>

  <div class="content-container">
    <p>
      In retrospect, the signs were there all along. Growing up, the brilliance
      of my mother, a seasoned programmer, provided a captivating backdrop. It's
      almost amusing how destiny patiently awaited my acknowledgment of the
      inevitable. Computer science, with its infinite depth and breadth, became
      my sanctuary. Exploring the depths of technology, I discovered a realm
      where possibilities knew no bounds.
    </p>
  </div>

  <div class="content-container">
    <p>
      Swapping psychology books and research papers for three monitors and
      relentless debugging was a defining moment. Yet, the skills acquired in
      psychology remain invaluable. Navigating the intricate landscape of human
      communication has proven as challenging, if not more so, than crafting
      code.
    </p>
  </div>
  <div class="content-container">
    <p>
      Beyond the lines of code, you'll find me immersed in books or engrossed in
      puzzle-solving. When not in the digital realm, I indulge in gaming, sports
      spectating, or embarking on runs. A curious mind, I often find myself
      diving into rabbit holes of random and specific topics. And, if all else
      fails, seek me out on a tranquil beach in Barbados. I also have a hobby of
      learning languages, though I'm still on the journey to proficiency.
      Currently, I'm navigating the linguistic landscapes of French, Spanish,
      and German, and I'm excitedly working on a delightful language-learning
      software project.
    </p>
  </div>
  <div class="content-container">
    <p>
      Thank you for taking the time to acquaint yourself with my story. Feel
      free to drop me an
      <a href="mailto:melanie_payne@outlook.com" target="_blank">email</a>
      — I'm eager to get to know you too! Explore my
      <a href="/images/sw_resume_2024_old.pdf" target="_blank">resume</a>,
      peruse my projects, check out my
      <a href="https://twitter.com/mxlanie_codes" target="_blank">twitter</a>,
      or discover my latest literary adventures on
      <a
        href="https://www.goodreads.com/user/show/152571592-melanie-payne"
        target="_blank"
        >goodreads</a
      >.
    </p>
  </div>
  <br /><br /><br /><br />
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
