<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <div class="content-container">
    <h1><%= "blog posts" %></h1>
  </div>
  <br />
  <a href="/welcome-to-my-blog" class="blog-link"
    ><div class="content-container">
      <h4>welcome to my blog</h4>
      <small>February 19th, 2024 &#x2022; by Melanie Payne</small>
    </div></a
  >
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
