<!-- home page -->
<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>
<main class="container">
  <div class="content-container">
    <h1><%= "melanie payne" %></h1>
    <p>software engineer</p></div
  >
  <br />
  <div class="content-container">
    <h3>welcome to my home on the internet</h3>
    <p>where else can you find me?</p>
    <p
      ><a href="https://twitter.com/mxlanie_codes" target="_blank"
        ><i
          class="fa-brands fa-square-twitter fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="https://www.linkedin.com/in/melanie-e-payne/" target="_blank"
        ><i class="fa-brands fa-linkedin fa-xl" style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="https://github.com/melanie-payne" target="_blank"
        ><i
          class="fa-brands fa-square-github fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="mailto:melanie_payne@outlook.com" target="_blank"
        ><i
          class="fa-solid fa-square-envelope fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="tel:+14168713480" target="_blank"
        ><i class="fa-solid fa-square-phone fa-xl" style="color: #3d64e4"></i
      ></a> </p
  ></div>
  <!-- <p>My mission is to provide a comprehensive platform for showcasing my software projects, skills, and resume to potential employers. As a dedicated software engineering student with a passion for programming, I am committed to delivering high-quality solutions that meet the needs of today's dynamic industry. Building upon my diverse background in psychology, I bring a unique perspective to my work, blending analytical thinking with creativity. Through my portfolio, I aim to convey my technical proficiency, problem-solving abilities, and strong work ethic. By engaging with potential employers, I seek to forge meaningful connections and contribute to innovative projects that make a positive impact in the software engineering field.</p> -->
</main>
<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
