<!-- home page -->
<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>
<main class="container">
  <div class="content-container">
    <h1><%= "melanie payne" %></h1>
    <p>software engineer</p></div
  >
  <br />
  <div class="content-container">
    <h3>welcome to my home on the internet!</h3>
    <p>where else can you find me?</p>
    <p
      ><a href="https://twitter.com/mxlanie_codes" target="_blank"
        ><i
          class="fa-brands fa-square-twitter fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="https://www.linkedin.com/in/melanie-e-payne/" target="_blank"
        ><i class="fa-brands fa-linkedin fa-xl" style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="https://github.com/melanie-payne" target="_blank"
        ><i
          class="fa-brands fa-square-github fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="mailto:melanie_payne@outlook.com" target="_blank"
        ><i
          class="fa-solid fa-square-envelope fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a href="tel:+14168713480" target="_blank"
        ><i
          class="fa-solid fa-square-phone fa-xl"
          style="color: #3d64e4"></i></a
      >&nbsp;
      <a
        href="https://www.goodreads.com/user/show/152571592-melanie-payne"
        target="_blank"
        ><i class="fa-brands fa-goodreads fa-xl" style="color: #3d64e4"></i
      ></a>
    </p>
  </div>
</main>
<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
