<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <div class="content-container">
    <h1><%= "skills" %></h1>
  </div>

  <div class="skills-section">
    <!-- <h3>technical skills</h3> -->
    <div class="content-container">
      <div class="skills-grid">
        <button class="skill-button">C#</button>
        <button class="skill-button">JavaScript</button>
        <button class="skill-button">Java</button>
        <button class="skill-button">Python</button>
        <button class="skill-button">Oracle SQL</button>
        <button class="skill-button">MySQL</button>
        <!-- <button class="skill-button">PostgreSQL</button> -->
        <button class="skill-button">MongoDB</button>
        <button class="skill-button">HTML</button>
        <button class="skill-button">CSS</button>
        <button class="skill-button">Angular</button>
        <button class="skill-button">Node.js</button>
        <button class="skill-button">APIs</button>
      </div></div
    >
    <!-- <div class="skills-grid">
      <h3>soft skills</h3>
      <button class="skill-button">communication</button>
    </div> -->
  </div>
</main>
<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
