<%- include partials/header.ejs %> <%- include partials/top-nav.ejs %>

<main class="container">
  <a href="/blog" class="btn btn-sm">&#8592; back to all posts</a>
  <br /><br />
  <div class="content-container">
    <h1><%= "welcome to my blog" %></h1>
    <small>February 19th, 2024 &#x2022; by Melanie Payne</small>
  </div>
  <br />
  <div class="content-container">
    <p>whatever the hell i have to contribute</p>
  </div>
</main>

<%- include partials/bottom-nav.ejs %> <%- include partials/footer.ejs %>
